@model GolfBag.Entities.ScoreCard
@{ 
    ViewBag.Title = Model.PlayerName;
}

<h1>@Model.CourseName</h1>
<div>@Model.Id</div>
<div>@Model.Course</div>
<div>
    @Html.ActionLink("Home", "Index")
</div>