@model ScoreCard
@{ 
    ViewBag.Title = $"Edit {Model.PlayerName}";
}

<h1>Edit @Model.PlayerName</h1>

<form asp-action="Edit" method="post">
    <div>
        <label asp-for="PlayerName"></label>
        <input asp-for="PlayerName" />
        <span asp-validation-for="PlayerName"></span>
    </div>
    <div>
        <label asp-for="Course"></label>
        <select asp-for="Course"
                asp-items="@Html.GetEnumSelectList(typeof(CourseType))"></select>
        <span asp-validation-for="Course"></span>
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>
</form>