@model GolfBag.ViewModels.HomePageViewModel

@{ 
    ViewBag.Title = "Home";
}

<h1>Welcome to it!</h1>

@foreach (var scoreCard in Model.ScoreCards)
{
    @Html.Partial("_Summary", scoreCard);
}

<div>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Create">Create</a>   @*don't need the controller tag here*@
</div>

@section footer{
    <div>This is the footer.</div>
}