@model GolfBag.ViewModels.HomePageViewModel

<html>

<head>
    <title>Golf Bag | Home</title>
</head>
<body>
    <h1>Welcome to it!</h1>
    <h3>@Model.CurrentGreeting</h3>
    <table>
        @foreach (var scoreCard in Model.ScoreCards)
        {
            <tr>
                <td>
                    @Html.ActionLink(scoreCard.PlayerName, "Details", new { id = scoreCard.Id })
                </td>
                <td>@scoreCard.CourseName</td>
            </tr>
        }
    </table>

</body>
</html>
