/*********************************************************************************************
                        IMPORTS
*********************************************************************************************/
/*form {      // example of scoping a variable; this variable only applies in forms
    @baseSize: 18px;
}*/
/*@root: "/images";
@app-root: `"@{root}".toUpperCase()`;*/
.remove-number-spinners {
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
/*.display-flexbox {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

/*.flexbox-direction(@direction) {
    -ms-flex-direction: @direction;
    flex-direction: @direction;
}*/
/*.rounded-corners-all(@size: 5px) {  // 5px is the default in case no argument passed
    
}

.rounded-corners-all(@size, @color) {  // can overload mixins

}

.color(@color) when (alpha(@color) < 50%) {  // example of mixin guard

}

.width(@size) when (isnumber(@size)) {    // examples of type guards

}

.width(@size) when (ispercentage(@size)) {

}*/
/*#contact-module {
    .fonts() {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: @baseSize;
    }
}*/
/*********************************************************************************************
                        GLOBAL ELEMENT STYLES
*********************************************************************************************/
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
li {
  font-size: 2rem;
}
@media (min-width: 768px) {
  li {
    font-size: 3rem;
  }
}
li li {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  li li {
    font-size: 2rem;
  }
}
li li a {
  margin-left: 5px;
}
.btn {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .btn {
    font-size: 2rem;
  }
}
.dropdown-menu > li > a {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .dropdown-menu > li > a {
    font-size: 2rem;
  }
}
.dropdown-menu > li > a > span {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
/*********************************************************************************************
                        HTML, BODY, & @RenderBody container div, i.e., #main-content
*********************************************************************************************/
html {
  position: relative;
  min-height: 100%;
}
body {
  background: gray;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2rem;
  margin-bottom: 60px;
}
#main-content {
  padding-top: 210px;
}
@media (min-width: 768px) {
  #main-content {
    padding-top: 180px;
  }
}
/*********************************************************************************************
                        NAVIGATION & NAV PILLS
*********************************************************************************************/
/********************************************
        Generally
********************************************/
.navpill-header {
  padding: 10px 15px 0 15px;
  margin-right: 5rem;
}
.nav-pills li {
  min-height: 7rem;
}
.nav-pills li a {
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .nav-pills li {
    min-height: 10rem;
  }
}
.teebox-toggler-icon {
  width: 100%;
  text-align: center;
  color: #F2EB0C;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .teebox-toggler-icon {
    font-size: 2rem;
  }
}
.panel-title {
  text-align: center;
  font-size: 2rem;
}
@media (min-width: 768px) {
  .panel-title {
    font-size: 3rem;
  }
}
/********************************************
        _Layout
********************************************/
#title-and-welcome {
  display: flex;
  flex-direction: column;
}
#site-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 5rem;
  color: #14A647;
  padding-left: 0;
  margin: 0 0 10px 0;
  position: relative;
  z-index: 5;
}
#welcome-nav {
  font-family: 'Cormorant Garamond', serif;
  font-size: 3rem;
  margin: 0;
}
/********************************************
        <LoginLogout> Default
********************************************/
#navbar-toggler {
  background-color: chocolate;
}
#main-collapsing-navbar {
  margin: 0;
}
#logout-button {
  margin-top: 10px;
}
#logout-button-a {
  color: #F2112B;
}
/*********************************************************************************************
                        SCORECARDS
*********************************************************************************************/
/********************************************
        Generally
********************************************/
.scorecard {
  font-family: 'Suez One', serif;
}
.hole-score {
  font-family: 'Sriracha', cursive;
}
.number-input,
.number-input input {
  width: 5rem;
  text-align: center;
  -webkit-appearance: none;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
.teebox-played {
  font-weight: bold;
  background-color: #2AC930;
}
.teebox-not-played,
.faded-font {
  color: #B8BEBF;
}
.teebox-to-delete {
  text-decoration: line-through;
}
.delete-teebox,
.undo-delete {
  cursor: pointer;
}
.delete-teebox.faded-font,
.undo-delete.faded-font {
  cursor: default;
}
.table-row-striped {
  background-color: #F9F9F9;
}
/*********************************************************************************************
                        FOOTER
*********************************************************************************************/
/********************************************
        _Layout
********************************************/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #000;
  color: #FFF;
}
/*********************************************************************************************
                        MISC. COMMENTS
*********************************************************************************************/
/*h1 {
    font-size: @baseSize + 10px;
}

h2 {
    font-size: @baseSize + 6px;
}

label {
    background-color: lighten(@mainColor, 30%);
}

/*div {
    .display-flexbox;
}*/
/*nav {               // example of nested rules
    font-size: @baseSize;
    ul {
        font-size: @baseSize - 1;
        li {
            color: darken(@mainColor, 20%);
        }
    }
}*/