@import "variables";
@import "mixins";

html {
    position: relative;
    min-height: 100%;
}

body {
    background: @prevalantColor;
    margin-bottom: 60px;
}

#title-and-welcome {
    display: flex;
    flex-direction: column;
}

#site-title {
    font-family: @mainSiteFont;
    font-size: 5rem;
    color: #14A647;
    padding-left: 0;
    margin: 0 0 10px 0;
    position: relative;
    z-index: 5;
}

#welcome-nav {
    font-family: @mainSiteFont;
    font-size: 3rem;
    margin: 0;
}

#navbar-toggler {
    background-color: chocolate;
}

#main-content {
    padding-top: 120px;
}

#main-collapsing-navbar {
    margin: 0;
}

#logout-button {
    margin-top: 10px;
}

#logout-button-a {
    color: @redText;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #FFF;
}

.display-none {
    display: none;
}

.number-input,
.number-input input {
    width: 5rem;
    text-align: center;
    -webkit-appearance: none;
}

.nav {
    font-family: @mainSiteFont;
    li {
        font-size: 2rem;
        @media (min-width: @defaultCollapseSize) {
            font-size: 3rem;
        }
        li {
            font-size: 1.5rem;
            @media (min-width: @defaultCollapseSize) {
                font-size: 2rem;
            }
            a {
                margin-left: 5px;
            }
        }
    }
}

.navpill-header {
    padding: 10px 15px 0 15px;
    margin-right: 5rem;
}

.nav-pills li {
    min-height: 7rem;
    a {
        padding-bottom: 0;
    }
    @media (min-width: @defaultCollapseSize) {
        min-height: 10rem;
    }
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
        .remove-number-spinners;
    }

.dropdown-menu > li > a {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
}

.dropdown-menu > li > a > span {
    margin-left: 1rem;
}

.teebox-played {
    font-weight: bold;
    background-color: #2AC930;
}

.teebox-not-played,
.faded-font {
    color: @fadedFontColor;
}

.teebox-to-delete {
    text-decoration: line-through;
}

.teebox-toggler-icon {
    width: 100%;
    text-align: center;
    color: @yellow;
    font-size: 1.5rem;
    @media (min-width: @defaultCollapseSize) {
        font-size: 2rem;
    }
}

.delete-teebox,
.undo-delete {
    cursor: pointer;
    &.faded-font {
        cursor: default;
    }
}

.table-row-striped {
    background-color: @tableStripeColor;
}

/*h1 {
    font-size: @baseSize + 10px;
}

h2 {
    font-size: @baseSize + 6px;
}

label {
    background-color: lighten(@mainColor, 30%);
}

/*div {
    .display-flexbox;
}*/

/*nav {               // example of nested rules
    font-size: @baseSize;
    ul {
        font-size: @baseSize - 1;
        li {
            color: darken(@mainColor, 20%);
        }
    }
}*/

a {         // example of combinator to apply nested rule to parent
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}