/*********************************************************************************************
                        IMPORTS
*********************************************************************************************/
/*form {      // example of scoping a variable; this variable only applies in forms
    @baseSize: 18px;
}*/
/*@root: "/images";
@app-root: `"@{root}".toUpperCase()`;

// for example: background-image: url("@{root}image.jpg");*/
.remove-number-spinners {
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
/*.display-flexbox {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

/*.flexbox-direction(@direction) {
    -ms-flex-direction: @direction;
    flex-direction: @direction;
}*/
/*

.rounded-corners-all(@size, @color) {  // can overload mixins

}

.color(@color) when (alpha(@color) < 50%) {  // example of mixin guard

}

.width(@size) when (isnumber(@size)) {    // examples of type guards

}

.width(@size) when (ispercentage(@size)) {

}*/
/*#contact-module {
    .fonts() {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: @baseSize;
    }
}*/
/*********************************************************************************************
                        PAGE SIZE DETECTOR
*********************************************************************************************/
#page-size {
  position: absolute;
  visibility: hidden;
  width: 0;
}
@media (min-width: 480px) {
  #page-size {
    height: 1px;
  }
}
@media (min-width: 768px) {
  #page-size {
    height: 2px;
  }
}
@media (min-width: 992px) {
  #page-size {
    height: 3px;
  }
}
@media (min-width: 1200px) {
  #page-size {
    height: 4px;
  }
}
@media (min-width: 1450px) {
  #page-size {
    height: 5px;
  }
}
/*********************************************************************************************
                        CUSTOMIZE SCROLL BARS
*********************************************************************************************/
body::-webkit-scrollbar,
.sidebar::-webkit-scrollbar,
.table-responsive::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: #DDEEDF;
}
body::-webkit-scrollbar-track,
.sidebar::-webkit-scrollbar-track,
.table-responsive::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb,
.sidebar::-webkit-scrollbar-thumb,
.table-responsive::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
/*********************************************************************************************
                        GENERAL ELEMENT STYLES
*********************************************************************************************/
#screen-size-detector {
  height: 1px;
}
@media (min-width: 768px) {
  #screen-size-detector {
    height: 2px;
  }
}
@media (min-width: 992px) {
  #screen-size-detector {
    height: 3px;
  }
}
@media (min-width: 1200px) {
  #screen-size-detector {
    height: 4px;
  }
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background: #808080;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2rem;
  margin-bottom: 60px;
}
#main-content {
  padding-top: 130px;
}
@media (min-width: 768px) {
  #main-content {
    padding-top: 100px;
  }
}
.row {
  max-width: 100%;
  margin: 0;
  margin-top: -8px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
li {
  font-size: 2rem;
}
@media (min-width: 768px) {
  li {
    font-size: 2.5rem;
  }
}
li li {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  li li {
    font-size: 2rem;
  }
}
li li a {
  margin-left: 5px;
}
.btn {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .btn {
    font-size: 2rem;
  }
}
.btn-group {
  margin-bottom: 1rem;
}
.btn-success {
  background-color: #127C56;
}
.btn-default {
  background-color: #D0DD97;
}
.btn-danger {
  background-color: #B90B0B;
}
.list-group-item {
  background-color: #D2D4D6;
}
/********************************************
        Forms
********************************************/
.form-header {
  margin-bottom: 5rem;
}
.field {
  position: relative;
  max-width: 250px;
  margin-bottom: 2rem;
}
.field-label {
  color: #919293;
  font-size: .8125em;
  line-height: 1;
  opacity: 0;
  overflow: hidden;
  padding: .5em 1em;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  top: 0;
  text-align: left;
  transform: translateY(3px);
  transition: all 0.2s ease-out;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  z-index: 1;
}
.field-not-empty .field-label {
  opacity: 1;
  transform: none;
}
.field-input {
  background-color: #f5f5f5;
  border: 2px solid #e9e9e9;
  color: #333;
  font-size: 1.3125em;
  padding: .4761904762em;
  transition: all 0.2s ease-out;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.field-not-empty .field-input {
  padding-bottom: 2px;
  padding-top: 18px;
}
.scorecard-top {
  width: 100%;
}
@media (min-width: 1200px) {
  .scorecard-top {
    width: 40%;
  }
}
::-webkit-input-placeholder {
  color: #919293;
}
::-moz-placeholder {
  color: #919293;
}
:-ms-input-placeholder {
  color: #919293;
}
:-moz-placeholder {
  color: #919293;
}
.reset-form {
  box-shadow: inset 1px 4px 9px -6px;
  width: 90%;
  height: 2px;
  background-color: #000;
  visibility: visible;
}
@media (min-width: 768px) {
  .reset-form {
    visibility: hidden;
  }
}
/********************************************
        _Layout
********************************************/
#title-and-welcome {
  display: flex;
  flex-direction: column;
  float: none;
}
@media (min-width: 768px) {
  #title-and-welcome {
    float: left;
  }
}
#main-body {
  padding: 20px;
}
#site-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 5rem;
  color: #14A647;
  padding-left: 0;
  margin: 0 0 10px 0;
  position: relative;
  z-index: 5;
}
@media (min-width: 1200px) {
  .sidebar::-webkit-scrollbar-track {
    margin-top: 120px;
    margin-bottom: 50px;
  }
}
.sidebar {
  background-color: #000;
  overflow-y: auto;
  padding-top: 10px;
  text-align: center;
}
.sidebar .dropdown-menu {
  z-index: 0;
  min-height: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .sidebar .dropdown.open {
    margin-top: 20px;
  }
}
.sidebar .dropdown-menu > li > a {
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1200px) {
  .sidebar {
    min-height: 200px;
    margin: 20px;
    box-shadow: 2px 2px 4px 5px #000;
  }
}
@media (min-width: 1200px) {
  .sidebar {
    margin-top: -120px;
    height: 100%;
    position: absolute;
    padding-top: 125px;
  }
  .sidebar .dropdown-menu {
    width: 100%;
    margin-top: 0;
    margin-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .sidebar .dropdown-menu {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .sidebar .list-group-item {
    display: inline-block;
  }
}
.sidebar h3 {
  text-align: center;
  color: #DDEEDF;
  font-size: 3rem;
  margin-top: 10px;
  margin-bottom: 20px;
}
.sidebar h6 {
  font-size: 1.75rem;
}
@media (min-width: 1200px) {
  #left-sidebar {
    left: 0;
  }
}
@media (min-width: 1200px) {
  #right-sidebar {
    right: 0;
  }
}
#welcome-nav {
  font-family: 'Cormorant Garamond', serif;
  font-size: 3rem;
  margin: 0;
}
/********************************************
        Statistics Charts
********************************************/
.stat-chart + h6 {
  color: white;
}
.stat-chart {
  width: 95%;
}
.stat-chart-container {
  width: 100%;
}
@media (min-width: 768px) {
  .stat-chart-container {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .stat-chart-container {
    width: 100%;
  }
}
.stat-chart-container .eagle,
.stat-chart-container .chip-in {
  fill: #F45;
  color: #F45;
}
.stat-chart-container .birdie,
.stat-chart-container .one-putt {
  fill: #D2EA9B;
  color: #D2EA9B;
}
.stat-chart-container .par,
.stat-chart-container .two-putt {
  fill: #C0D9E5;
  color: #C0D9E5;
}
.stat-chart-container .bogie,
.stat-chart-container .three-putt {
  fill: #FCC314;
  color: #FCC314;
}
.stat-chart-container .double-bogie,
.stat-chart-container .four-putt {
  fill: #F2DEA8;
  color: #F2DEA8;
}
.stat-chart-container .other {
  fill: #1FAD9F;
  color: #1FAD9F;
}
.stat-chart-container-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .stat-chart-container-container {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .stat-chart-container-container {
    flex-direction: column;
    padding-bottom: 75px;
  }
}
path ~ text {
  cursor: pointer;
}
.svg-tooltip {
  position: absolute;
  max-width: 100px;
  height: auto;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.pie-chart-label-container {
  display: flex;
  flex-wrap: wrap;
}
.pie-chart-label-container .pie-chart-label {
  width: 50%;
  color: #FFF;
}
/********************************************
        <LoginLogout> Default
********************************************/
#navbar-toggler {
  background-color: chocolate;
}
#main-collapsing-navbar {
  margin: 0;
}
#logout-button {
  margin-top: 10px;
}
#logout-button-a {
  color: #F2112B;
}
/********************************************
        Footer
********************************************/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #8C7676;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer h5 {
  margin: 5px 0;
}
footer a {
  color: #FFF;
}
/*********************************************************************************************
                        NAVIGATION & NAV PILLS
*********************************************************************************************/
.navpill-header {
  padding: 10px 15px 0 15px;
  margin-right: 5rem;
}
.nav-pills {
  width: 100%;
}
.nav-pills li:last-child {
  font-weight: bolder;
}
@media (min-width: 768px) {
  .nav-pills {
    display: inline-flex;
  }
  .nav-pills li:last-child {
    margin-left: auto;
    margin-right: 6rem;
  }
}
.nav-pills li {
  min-height: 6.5rem;
}
.nav-pills li a {
  padding-bottom: 0;
}
.navbar {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.cbp-af-header-shrink {
  opacity: 0.9;
}
.cbp-af-header-shrink .navbar {
  margin-bottom: 5px;
}
.teebox-toggler {
  color: #FFF;
}
.teebox-toggler-icon {
  width: 100%;
  text-align: center;
  color: #F2EB0C;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .teebox-toggler-icon {
    font-size: 2rem;
  }
}
.pager {
  margin-bottom: 0;
  margin-top: 0;
}
@media (min-width: 480px) {
  .pager {
    margin-top: -40px;
  }
}
.panel-title {
  text-align: center;
  font-size: 2rem;
}
@media (min-width: 768px) {
  .panel-title {
    font-size: 2.5rem;
  }
}
.panel-primary {
  background-color: #639A67;
  border: none;
}
.panel-primary .panel-heading {
  background-color: #205D67;
}
#display-round .navbar-default {
  background-color: #639A67;
}
#display-round tr {
  background-color: #D9BF77;
}
#display-round .table-row-striped {
  background-color: #b79433;
}
#display-round .teebox-played,
#display-round .well {
  background-color: #D8EBB5;
}
#display-round .btn {
  background-color: #D2D4D6;
}
#display-round:not(:empty) {
  box-shadow: 2px 2px 4px 5px #000;
  -webkit-box-shadow: 2px 2px 4px 5px #000;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 2px 2px 4px 5px #000;
  /* Firefox 3.5 - 3.6 */
}
.teebox-played {
  font-weight: bold;
  background-color: #127C56;
}
.scorecard-form {
  -webkit-box-shadow: 2px 2px 4px 5px #000;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 2px 2px 4px 5px #000;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 2px 2px 4px 5px #000;
  background-color: #3A4750;
}
.scorecard-form .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #B7B56E;
}
.scorecard-form .table-striped > tbody > tr:nth-of-type(even) {
  background-color: #E9EAB4;
}
.scorecard-form input,
.scorecard-form textarea,
.scorecard-form select {
  background-color: #F2E9D0;
}
.scorecard-form label {
  color: #CDCDCD;
}
#nine-hole-table td,
#eighteen-hole-table td {
  width: 1px;
}
@media (min-width: 768px) {
  .nav .dropdown:hover .dropdown-menu {
    display: block;
  }
}
.dropdown-menu {
  overflow-y: auto;
}
.dropdown-menu > li > a {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.75rem;
}
@media (min-width: 768px) {
  .dropdown-menu > li > a {
    font-size: 2rem;
  }
}
.dropdown-menu > li > a > span {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
/*********************************************************************************************
                        SCORECARDS
*********************************************************************************************/
.table {
  margin-bottom: 1rem;
}
.table-responsive {
  margin-bottom: 1rem;
}
.account-form input[type="text"],
.account-form input[type="password"],
.account-form input[type="email"] {
  max-width: 45rem;
}
.comment-box {
  width: 100%;
}
.datepicker {
  cursor: pointer;
  width: 25rem;
  margin-right: 5rem;
}
.error-container {
  padding: 0;
  color: #950818;
  font-size: 2rem;
}
.error-container p {
  margin: 0;
}
.scorecard {
  font-family: 'Suez One', serif;
}
@media (min-width: 768px) {
  .scorecard {
    font-size: 2rem;
  }
}
.scorecard td:not(:first-child),
.scorecard th:not(:first-child) {
  text-align: center;
}
.number-input,
.number-input input {
  width: 5rem;
  text-align: center;
  -webkit-appearance: none;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
.teebox-to-delete {
  text-decoration: line-through;
}
.delete-teebox,
.undo-delete {
  cursor: pointer;
}
.delete-teebox.faded-font,
.undo-delete.faded-font {
  cursor: default;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 4px;
}
.eighteen-hole-total {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.eighteen-hole-total div {
  border: none;
  margin: 0 6px;
  display: inline-flex;
  flex-grow: 0;
  flex-basis: 50%;
  justify-content: center;
}
/*********************************************
            Scorecard Colors and borders
*********************************************/
.invalid-score,
.invalid-course-name,
.invalid-par,
.invalid-handicap,
.invalid-teebox-name,
.invalid-teebox,
.invalid-putt {
  border-color: #F2112B;
}
.table > tbody > tr > td.hole-score {
  font-family: 'Sriracha', cursive;
  text-align: center;
  vertical-align: baseline;
}
.bogie-box {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 992px) {
  .bogie-box {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  .bogie-box {
    width: 50%;
  }
}
.table > tbody > tr td.birdie-score {
  color: #F2112B;
}
.table > tbody > tr td.eagle-score {
  color: #2A05FC;
}
.table > tbody > tr td.ablatross-score {
  color: #8614DE;
}
.table > tbody > tr td.bogie-score .bogie-box {
  border: 1px black solid;
}
.table > tbody > tr td.double-bogie-score .bogie-box {
  border: 3px black solid;
}
.table > tbody > tr td.other-score .bogie-box {
  border: 4px black double;
}