/*form {      // example of scoping a variable; this variable only applies in forms
    @baseSize: 18px;
}*/
/*@root: "/images";
@app-root: `"@{root}".toUpperCase()`;*/
/*.display-flexbox {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

/*.flexbox-direction(@direction) {
    -ms-flex-direction: @direction;
    flex-direction: @direction;
}*/
/*.rounded-corners-all(@size: 5px) {  // 5px is the default in case no argument passed
    
}

.rounded-corners-all(@size, @color) {  // can overload mixins

}

.color(@color) when (alpha(@color) < 50%) {  // example of mixin guard

}

.width(@size) when (isnumber(@size)) {    // examples of type guards

}

.width(@size) when (ispercentage(@size)) {

}*/
/*#contact-module {
    .fonts() {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: @baseSize;
    }
}*/
/*html {
    font-size: @baseSize;
}*/
body {
  background: gray;
}
.display-none {
  display: none;
}
.number-input,
.number-input input {
  width: 4rem;
}
/*h1 {
    font-size: @baseSize + 10px;
}

h2 {
    font-size: @baseSize + 6px;
}

label {
    background-color: lighten(@mainColor, 30%);
}

/*div {
    .display-flexbox;
}*/
/*nav {               // example of nested rules
    font-size: @baseSize;
    ul {
        font-size: @baseSize - 1;
        li {
            color: darken(@mainColor, 20%);
        }
    }
}*/
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}