//      COLORS

@prevalantColor: gray;
@tableStripeColor: #F9F9F9;
@fadedFontColor: #B8BEBF;
@redText: #F2112B;
@yellow: #F2EB0C;

//      FONTS

@mainSiteFont: 'Cormorant Garamond', serif;
@scorecareFont: 'Suez One', serif;
@scorecardNumberFont: 'Sriracha', cursive;


//      SIZES

@defaultCollapseSize: 768px;    // default in bootstrap

//@baseSize: 14px;

/*form {      // example of scoping a variable; this variable only applies in forms
    @baseSize: 18px;
}*/



// EXAMPLE OF USING JS IN LESS

/*@root: "/images";
@app-root: `"@{root}".toUpperCase()`;*/

// for example: background-image: url("@{root}image.jpg");