//      COLORS

@prevalantColor:        #808080;
@tableStripeColor:      #F9F9F9;
@fadedFontColor:        #B8BEBF;
@redText:               #F2112B;
@blueText:              #2A05FC;
@purpleText:            #8614DE;
@yellow:                #F2EB0C;
@black:                 #000;
@placeholderColor:      #919293;
@inputBackgroundColor:  #f5f5f5;
@white:                 #FFF;
@sidebarHeaderColor:    #DDEEDF;
@footerColor:           #8C7676;
@buttonColor:           #D2D4D6;

// pie chart colors

@orange:                #F45;
@lightGreen:            #D2EA9B;
@lightBlue:             #C0D9E5;
@lightBrown:            #F2DEA8;
@aqua:                  #1FAD9F;
@darkYellow:            #FCC314;

//      FONTS

@mainSiteFont:          'Cormorant Garamond', serif;
@scorecareFont:         'Suez One', serif;
@scorecardNumberFont:   'Sriracha', cursive;


//      SIZES

@bootstrapXS:   480px;
@bootstrapSM:   768px;
@bootstrapMD:   992px;
@bootstrapLG:   1200px;
@bootstrapXL:   1450px;

//      Padding to accomodate sticking header

@paddingXS:     130px;
@paddingSM:     100px;

//@baseSize: 14px;

/*form {      // example of scoping a variable; this variable only applies in forms
    @baseSize: 18px;
}*/



// EXAMPLE OF USING JS IN LESS

/*@root: "/images";
@app-root: `"@{root}".toUpperCase()`;

// for example: background-image: url("@{root}image.jpg");*/