@model ResetPasswordViewModel

<h1 class="field">Reset Your Password</h1>

<form class="account-form" asp-action="ResetPassword" asp-controller="Account" method="post" asp-antiforgery="true">
    <input type="hidden" asp-for="Token"/>

    <div class="field">
        <label class="field-label" asp-for="UserName">User Name</label>
        <input class="field-input" asp-for="UserName" placeholder="User Name" />    
    </div>

    <div class="field">
        <label class="field-label" asp-for="Password">New Password</label>
        <input class="field-input" asp-for="Password" placeholder="Password" />
    </div>

    <div class="field">
        <label class="field-label" asp-for="ConfirmPassword">Confirm New Password</label>
        <input class="field-input" asp-for="ConfirmPassword" placeholder="Confirm New Password"/>
    </div>

    <input class="btn btn-primary" type="submit" value="Reset Password" />
</form>

<script type="text/javascript" src="~/js/FloatingLabels.js"></script>