@model ResetPasswordViewModel

<h1>Reset Your Password</h1>

<form asp-action="ResetPassword" asp-controller="Account" method="post" asp-antiforgery="true">
    <input type="hidden" asp-for="Token"/>
    <label asp-for="UserName"></label>
    <input asp-for="UserName"/>
    <label asp-for="Password">New Password</label>
    <input asp-for="Password"/>
    <label asp-for="ConfirmPassword">Confirm New Password</label>
    <input asp-for="ConfirmPassword"/>
    <input class="btn btn-primary" type="submit" value="Reset Password" />
</form>