@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">       @*font-family: 'Cormorant Garamond', serif;*@
    <link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet">                 @*font-family: 'Suez One', serif;*@
    <link href="https://fonts.googleapis.com/css?family=Sriracha" rel="stylesheet">                 @*font-family: 'Sriracha', cursive;*@

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @*<script type="text/javascript" src="~/lib/jquery-ui/external/jquery/jquery.js"></script>    THIS CONFLICTS WITH STRIPED TABLES JS FUNCTION*@
    <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div id="loginlogout" class="navbar">
                @await Component.InvokeAsync("LoginLogout")
            </div>
        </div>
    </nav>
    <div id="main-content" class="container">
        @RenderBody()
    </div>
    <footer>
        @RenderSection("footer", required: false)
        @await Component.InvokeAsync("Greeting")
    </footer>

    <script type="text/javascript" src="~/js/validator.js"></script>
    <script type="text/javascript" src="~/js/globalFunctions.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    @RenderSection("Scripts", false)
</body>

</html>
