@model RoundOfGolfViewModel

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td>Hole</td>
                @for (int i = 9; i < 18; i++)
                {
                    string holeNumber = (i + 1).ToString();
                    <td>@holeNumber</td>
                }
            </tr>
            <tr>
                <td>Par</td>
                @for (int i = 9; i < 18; i++)
                {
                    <td>@Model.Pars[i]</td>
                }
            </tr>
            @foreach (var teeBox in Model.TeeBoxes)
            {
                <tr>
                    <td>@teeBox.Name</td>
                    @for (int i = 9; i < 18; i++)
                    {
                        <td>@teeBox.Tees[i].Yardage</td>
                    }
                </tr>
            } 
            <tr>
                <td>Enter Scores</td>
                @for (int i = 0; i < 9; i++)
                {
                    <td>
                        <input class="number-input" asp-for="BackNineScores[i]" />
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>