@model Dictionary<int, string>


@section leftSidebar {
    <h3>Edit Courses</h3>
    <div class="dropdown open">
        <ul class="dropdown-menu list-group">

            @foreach (var course in Model)
            {
                <li class="list-group-item">
                    <a data-ajax="true" data-target="#display-course-to-edit"
                       data-action="@Url.Action("EditCourse", "RoundOfGolf",
                                    new { courseId = course.Key })">
                        @course.Value
                    </a>
                </li>
            }

        </ul>
    </div>
}


<h1>@ViewBag.Message</h1>

<div id="display-course-to-edit"></div>

<script src="~/js/_DisplayCourseToEdit.js" type="text/javascript"></script>