@model List<Course>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Choose A Course
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">

        @foreach (var course in Model)
        {
            <li>
                <a data-ajax="true" data-target="#course-display"
                    data-action="@Url.Action("DisplayCourse", "RoundOfGolf", 
                                new { courseName = course.CourseName })">
                    @course.CourseName
                </a>
            </li>
        }

    </ul>
    <a class="btn btn-primary" asp-action="EnterCourse" asp-controller="RoundOfGolf">Enter Another Course</a>
</div>

<div id="course-display"></div>


@*@model RoundOfGolfViewModel

<h1>This is the EnterScore page.</h1>

<form method="post" asp-controller="RoundOfGolf" asp-action="EnterScore" asp-antiforgery="true">
    <label asp-for="CourseName"></label>
    <input asp-for="CourseName" />

    @for (int i = 0; i < 9; i++)
    {
        @Html.EditorFor(m => m.Scores[i]);
    }

    <div>
        <input type="submit" value="Enter Score" />
    </div>
</form>*@