@model List<string>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Choose A Course
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu list-group">

        @foreach (var course in Model)
        {
            <li class="list-group-item">
                <a data-ajax="true" data-target="#display-course"
                   data-action="@Url.Action("DisplayCourse", "RoundOfGolf",
                                new { courseName = course })">
                    @course
                </a>
            </li>
        }

    </ul>
    <a class="btn btn-primary" asp-action="EnterCourse" asp-controller="RoundOfGolf">Enter Another Course</a>
    <a class="btn btn-primary" asp-action="EditCourses" asp-controller="RoundOfGolf">Edit Courses</a>
</div>

<div id="display-course"></div>