@model Dictionary<int, string>
@{
    ViewBag.Title = "Enter Score";
}

@section leftSidebar {
    <h3>Enter New Score</h3>
    <div class="dropdown open">
        <ul class="dropdown-menu list-group">

            @foreach (var course in Model)
            {
                <li class="list-group-item">
                    <a data-ajax="true" data-target="#display-course"
                       data-action="@Url.Action("DisplayCourse", "RoundOfGolf",
                                new { courseId = course.Key })">
                        @course.Value
                    </a>
                </li>
            }

        </ul>
    </div>
}

<div id="display-course"></div>

<ul class="error-container"></ul>

<script type="text/javascript" src="~/js/_DisplayCourse.js"></script>
