@model List<ViewRoundsViewModel>

<div class="dropdown page-header">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Choose A Round
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu list-group">

        @foreach (var round in Model)
        {
            <li class="list-group-item">
                <a data-ajax="true" data-target="#display-round"
                    data-action="@Url.Action("DisplayRound", "RoundOfGolf",
                            new { id = round.RoundId })">
                    @round.CourseName
                    <span class="badge">date here</span>
                </a>
            </li>
        }

    </ul>
</div>

<div id="display-round"></div>